@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

a:hover {
  color: #60b5fa;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #eaf0ff; /* fallback color */
    color: #213547;
  }
}

/* 9047991438

iyhiksdbkyyg


gv-y73ttitk5ybgmw.dv.googlehosted.com
*/
